/*Maak hier jouw CSS!*/

.container {
    font-family: "Times New Roman";
    background-color: blanchedalmond;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px ;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "..."
        "f" ;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 15px;
    border: 3px brown solid;
    background-color: indianred;
    color: white;
}
#header {
grid-area: a;

}
#main {
    grid-area: b;

}
#aside1 {
    grid-area: c;

}
#aside2 {
    grid-area: d;

}
#aside3 {
    grid-area: e;

}
#footer {
    grid-area: f;
}
/* desktop*/
@media screen and (min-width: 576px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
                 "a c c"
                 "b c c"
                 "b e d "
                 "b e . "
                 "f f f ";

    }
}